@-moz-document domain("") {
/* ==UserStyle==
@name           GnomeTube Music
@namespace      https://music.youtube.com
@description    A style for YouTube Music. Intended for use with a patched version of the Firefox GNOME Theme (coming soon), and the Progressive Web Apps for Firefox project.
@author         AnthemV
@version        1.9
@license        Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
@homepageURL    https://github.com/AnthemV/GNOME-CSS
@supportURL     https://github.com/AnthemV/GNOME-CSS/issues
@updateURL      https://github.com/AnthemV/GNOME-CSS/raw/main/GnomeTube-Music.user.styl
==/UserStyle== */
}

@-moz-document url-prefix("https://music.youtube.com") {
html {
--ytmusic-general-background-c: var(--gnome-headerbar-background) !important;
--yt-spec-brand-background-solid: var(--gnome-headerbar-background) !important;
--ytmusic-player-bar-background: var(--gnome-toolbar-background); 
--ytmusic-nav-bar-height:40px;
--default-border-radius:12px;
--ytmusic-search-box-height: 2px !important;
    background: var(--gnome-browser-before-load-background);
    
    --ytmusic-brand-background-solid:var(--gnome-inactive-toolbar-border-color) !important;
    
}

/* /\\/\\/\\/\\/\\/\\/\\/\\/\\/\\ Colors /\/\/\/\/\/\/\/\/\/\ */
#player-page {
background: var(--gnome-toolbar-background);
}

div.ytmusic-app {
background: var(--gnome-toolbar-background);
}

#contents.ytmusic-section-list-renderer {
  background: var(--gnome-toolbar-background);
} 

#nav-bar-background.ytmusic-app-layout {
  right: 0;
  background: var(--ytmusic-nav-bar);
  opacity: 1;
  transition: opacity 0.2s;
  will-change: opacity;
    border-bottom-width: 1px;
border-bottom-style: solid;
    border-color: #1F1F1F
}

/* /\/\/\/\/\/\/\/\/\/\ Header Bar /\/\/\/\/\/\/\/\/\/\ */

ytmusic-settings-button.settings-button.style-scope.ytmusic-nav-bar tp-yt-paper-icon-button #ink.tp-yt-paper-icon-button {
  scale: 1.25 !important;
}

.left-content.ytmusic-nav-bar {
 scale:0.8;
    margin-left: -10px
}

.center-content.ytmusic-nav-bar {
    scale: 0.8
}

ytmusic-search-box.ytmusic-nav-bar {
    margin-top: -11px;
}

.logo.ytmusic-nav-bar {
  display: none;
}

ytmusic-pivot-bar-item-renderer.ytmusic-pivot-bar-renderer {
padding-top: 19px;
padding-left: 18px;
padding-right: 18px;
padding-bottom: 19px;
margin-top: -8px;
border-radius: 7px;
    margin-left: 2px;
    margin-right:2px;
    font-size:18px;
    transition: linear all 0.1s;
}

ytmusic-pivot-bar-item-renderer.ytmusic-pivot-bar-renderer:hover, ytmusic-search-box:not([opened]):not([has-query]):hover .search-box.ytmusic-search-box:hover {
background-color: var(--gnome-button-flat-hover-background);
}

ytmusic-pivot-bar-item-renderer:hover, ytmusic-pivot-bar-item-renderer.iron-selected {
background-color: var(--gnome-button-flat-active-background);
}

ytmusic-pivot-bar-item-renderer.iron-selected:hover {
background-color: var(--gnome-button-hover-background);
}

ytmusic-pivot-bar-item-renderer.style-scope:nth-child(1) > yt-formatted-string:nth-child(2) {
padding-left: 23px;
padding-right: 23px;
    width: 48px;
    color: white;
}

ytmusic-pivot-bar-item-renderer.style-scope:nth-child(2) > yt-formatted-string:nth-child(2) {
padding-left: 16.5px;
padding-right: 16.5px;
    width: 61px;
    color: white;
}

ytmusic-pivot-bar-item-renderer.style-scope:nth-child(3) > yt-formatted-string:nth-child(2) {
padding-left: 19px;
padding-right: 19px;
    color: white;
}

ytmusic-search-box.style-scope {
min-height: 46px;
}

ytmusic-search-box:not([opened]):not([has-query]) .search-box.ytmusic-search-box {
    padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
margin-top: 3px;
border-radius: 7px;
    margin-left: 2px;
    margin-right:2px;
    font-size:18px;
    transition: linear background-color 0.1s, color 0.1s;
    height: 38px !important;
    width: 37px !important;
}

.search-icon > tp-yt-iron-icon:nth-child(1) {
left: -9px;
}

.settings-button, .sign-in-link {
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 22.6833px;
  scale: 0.8;
margin-left: 1px !important;
padding-left: 5px;
padding-right: 9px;
padding-bottom: 4px;
margin-top: 0px;
padding-top: 5px;
border-radius: 7px;
    transition: linear all 0.1s;
}

.settings-button.ytmusic-nav-bar:hover, .sign-in-link.ytmusic-nav-bar:hover {
    background-color: var(--gnome-button-flat-hover-background);
    cursor: pointer;
}

.ytmusic-nav-bar:focus, .sign-in-link.ytmusic-nav-bar:focus {
    background-color: var(--gnome-button-flat-active-background);
}

/* /\/\/\/\/\/\/\/\/\/\ Profile Dropdown /\/\/\/\/\/\/\/\/\/\ */
#contentWrapper {
   box-shadow: var(--gnome-menu-shadow);
    scale:0.95
}

ytd-multi-page-menu-renderer.ytmusic-popup-contain {
    margin-top: 44px !important;
}

tp-yt-iron-dropdown.style-scope.ytmusic-popup-container [class="style-scope ytmusic-popup-container"] {
  margin-top: 0px;
    margin-left: -10px
}

a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-icon-item[style-target="host"], a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-item[style-target="host"] {
    margin: 0px 7px 0px 7px;
    height: 32px;
}

a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-icon-item[style-target="host"]:hover, a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-item[style-target="host"]:hover {
background-color: var(--gnome-menu-button-hover-background);
    margin: 0px 7px 0px 7px;
    border-radius:6px
}

a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-icon-item[style-target="host"]:focus, a#endpoint.yt-simple-endpoint.style-scope.ytd-compact-link-renderer tp-yt-paper-item[style-target="host"]:focus {
    margin: 0px 7px 0px 7px;
    border-radius:6px !important;
}

#contents.ytd-account-item-section-renderer > .ytd-account-item-section-renderer:hover, #items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer:not([component-style="RENDER_STYLE_SIMPLE_HEADER"]).yt-multi-page-menu-section-renderer:hover {
  background-color: transparent !important;
}

ytd-simple-menu-header-renderer {
background-color: var(--gnome-menu-background) !important;
border-bottom: 1px solid var(--gnome-menu-separator-color) !important;
}


/* Inline #5 | https://music.youtube.com/library/playlists */

ytd-active-account-header-renderer {
  /* background-color: var(--yt-spec-brand-background-primary); */
  /* border-bottom: 1px solid var(--yt-spec-10-percent-layer); */
  background-color: var(--gnome-menu-background);
  border-bottom: 1px solid var(--gnome-menu-separator-color);
  border-radius: 12px 12px 0px 0px;
}

#header.ytd-multi-page-menu-renderer {
  border-radius: 12px;
}

ytd-multi-page-menu-renderer {
  /* border: 1px solid var(--yt-spec-10-percent-layer); */
  /* border-top: none; */
  border: 1px solid var(--gnome-menu-border-color);
  border-top: solid;
}

#channel-handle.ytd-active-account-header-renderer {
  /* color: var(--yt-spec-text-primary); */
  color: var(--ytmusic-text-secondary);
  scale: 0.75;
  margin-left: -26px;
}

#items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:not([compact-link-style="compact-link-style-type-disclaimer"]).yt-multi-page-menu-section-renderer:not([component-style="RENDER_STYLE_SIMPLE_HEADER"]).yt-multi-page-menu-section-renderer:hover {
  /* background-color: var(--yt-spec-badge-chip-background); */
  background-color: transparent;
}

#sections.ytd-multi-page-menu-renderer > .ytd-multi-page-menu-renderer:not(:last-child) {
  /* border-bottom: 1px solid var(--yt-spec-10-percent-layer); */
  border-bottom: 1px solid var(--gnome-menu-separator-color);
}

.menu-container.ytd-multi-page-menu-renderer {
  background-color: var(--gnome-menu-background);
}

/* Element | https://music.youtube.com/ */

ytd-multi-page-menu-renderer.style-scope {
  /* border-top-width: 1px; */
  border-color: var(--gnome-menu-border-color);
  border-top-style: solid;
  border-radius: 12px;
}

/* Element | https://music.youtube.com/ */

#channel-handle {
  margin-left: -26px;
  margin-top: -4px;
}

/* Element | https://music.youtube.com/ */

#channel-handle {
  margin-left: -26px;
}

/* Element | https://music.youtube.com/ */

yt-multi-page-menu-section-renderer.style-scope:nth-child(1) > div:nth-child(2) > ytd-compact-link-renderer:nth-child(1) > a:nth-child(1) > tp-yt-paper-item:nth-child(1) {
  margin-left: 8px;
  margin-right: 8px;
}

/* /\/\/\/\/\/\/\/\/\/\ Small Border Radius /\/\/\/\/\/\/\/\/\/\ */
yt-button-renderer.style-primary[is-paper-button], ytmusic-menu-renderer:not([enable-bauhaus-style]) #top-level-buttons.ytmusic-menu-renderer > .ytmusic-menu-renderer, ytd-multi-page-menu-renderer.style-scope.ytmusic-popup-container ytmusic-menu-renderer:not([enable-bauhaus-style]) #top-level-buttons.ytmusic-menu-renderer > .ytmusic-menu-renderer, .play-button.ytmusic-immersive-header-renderer, .radio-button.ytmusic-immersive-header-renderer, tp-yt-paper-button.ytmusic-subscribe-button-renderer {
  gap: 16px;
  border-radius: 8px !important;
}


/* /\/\/\/\/\/\/\/\/\/\ Medium Border Radius /\/\/\/\/\/\/\/\/\/\ */

.song-media-controls, #main-panel, #player, ytmusic-info-panel-overview-view-model, yt-img-shadow.ytmusic-player > img:nth-child(1), yt-img-shadow[object-fit="COVER"] img.yt-img-shadow, #background.ytmusic-item-thumbnail-overlay-renderer, #content.ytmusic-item-thumbnail-overlay-renderer, .left-items.ytmusic-responsive-list-item-renderer, .left-items.ytmusic-player-queue-item, ytmusic-two-row-item-renderer[aspect-ratio="MUSIC_TWO_ROW_ITEM_THUMBNAIL_ASPECT_RATIO_SQUARE"] .image-wrapper.ytmusic-two-row-item-renderer, #contents.ytmusic-shelf-renderer > .ytmusic-shelf-renderer:not(:last-child) {
  border-radius: var(--default-border-radius);
}

#contents.ytmusic-playlist-shelf-renderer > .ytmusic-playlist-shelf-renderer:not(:last-child) {
  border-radius: var(--default-border-radius);
    border-bottom:0px
}

/* /\/\/\/\/\/\/\/\/\/\ Large Border Radius /\/\/\/\/\/\/\/\/\/\ */
#song-image.ytmusic-player {
  border-radius: 25px !important;
}

/* /\/\/\/\/\/\/\/\/\/\ Album/Playlist Header Section /\/\/\/\/\/\/\/\/\/\ */
.content-container.ytmusic-detail-header-renderer {
        margin-bottom:15px;
}

/* /\/\/\/\/\/\/\/\/\/\ Scrolldown Attachment /\/\/\/\/\/\/\/\/\/\ */
div.ytmusic-item-section-renderer:nth-child(2) {
 box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 6px -3px;
}

/* Player Song List */
ytmusic-player-queue.ytmusic-tab-renderer > div:nth-child(2) > ytmusic-player-queue-item:nth-child(n), ytmusic-player-queue-item[isautomix], ytmusic-responsive-list-item-renderer[height-style_="MUSIC_RESPONSIVE_LIST_ITEM_HEIGHT_MEDIUM"], ytmusic-player-queue-item {
border-bottom-width: 0px;
    margin-right:8px;
    margin-left:8px;
    border-radius:8px;
        margin-top:2px;
}

ytmusic-player-queue.ytmusic-tab-renderer > div:nth-child(2) > ytmusic-player-queue-item:nth-child(n):hover, ytmusic-player-queue-item[isautomix]:hover, ytmusic-responsive-list-item-renderer[height-style_="MUSIC_RESPONSIVE_LIST_ITEM_HEIGHT_MEDIUM"]:hover, ytmusic-player-queue-item:hover {
border-bottom-width: 0px;
    margin-right:8px;
    margin-left:8px;
    border-radius:8px;
      background: var(--gnome-button-flat-hover-background);
}

ytmusic-player-queue.ytmusic-tab-renderer > div:nth-child(2) > ytmusic-player-queue-item:nth-child(1) {
    margin-top: 8px;
}

html {
    --ytmusic-list-item-height:52px
}

div.side-panel:nth-child(3) {
margin-top: 3px;
margin-top: 18px;
}

yt-icon.yt-checkbox-renderer, .duration.ytmusic-player-queue-item, .fixed-column.ytmusic-responsive-list-item-renderer[size="MUSIC_RESPONSIVE_LIST_ITEM_FIXED_COLUMN_SIZE_SMALL"] {
margin-right: 10px;
}

ytmusic-player-queue.ytmusic-tab-renderer > div:nth-child(5) > ytmusic-player-queue-item:last-child {
margin-bottom: 8px;
}

/* Radio Quick Picks */
div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(n) {
margin-bottom: 1px !important;
padding-bottom: 8px;
padding-top: 8px;
margin-top: 1px;
    border-radius:var(--default-border-radius);
        border-top:0px;
}

ytmusic-responsive-list-item-renderer.style-scope:nth-child(n) {
border-bottom-width: 0px !important;
}

ytmusic-responsive-list-item-renderer.style-scope:nth-child(n):hover {
background:var(--gnome-button-flat-hover-background);
}

div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(1), div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(2), div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(3), div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(4), div.ytmusic-shelf.style-scope.ytmusic-carousel-shelf-renderer ytmusic-responsive-list-item-renderer.style-scope:nth-child(5) {
margin-left: 48px !important;
padding-left: 8px !important;
}

ytmusic-carousel-shelf-renderer.style-scope:nth-child(2) > div:nth-child(1) > ytmusic-carousel:nth-child(2) > div:nth-child(1) > ul:nth-child(1) {
height: calc(var(--ytmusic-carousel-num-items-per-column) * var(--ytmusic-carousel-item-height) + var(--ytmusic-carousel-item-margin-bottom) * (var(--ytmusic-carousel-num-items-per-column) + 1)) !important;
}

/* Right Click Menu */
tp-yt-paper-listbox.ytmusic-menu-popup-renderer {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--gnome-menu-border-color);
  --paper-listbox-background-color: var(--gnome-menu-background);
  box-shadow: var(--gnome-menu-shadow);
  border-radius: 12px;
  width: 265px;
}

tp-yt-paper-icon-item.ytd-account-item-renderer, #items.ytmusic-menu-popup-renderer > .ytmusic-menu-popup-renderer {
    margin: 0px 5px 0px 5px;
    height: 32px;
}

tp-yt-paper-icon-item.ytd-account-item-renderer:hover, #items.ytmusic-menu-popup-renderer > .ytmusic-menu-popup-renderer:hover {
background-color: var(--gnome-menu-button-hover-background);
    margin: 0px 5px 0px 5px;
    border-radius:6px
}

.yt-simple-endpoint.ytmusic-menu-navigation-item-renderer {
  height: 32px;
}

.text.ytmusic-menu-navigation-item-renderer, .text.ytmusic-menu-service-item-renderer, .text.ytmusic-toggle-menu-service-item-renderer {
padding-bottom:1px
}

.icon.ytmusic-menu-navigation-item-renderer, .icon.ytmusic-menu-service-item-renderer, .icon.ytmusic-toggle-menu-service-item-renderer {
    scale:0.9;
}


/* Accounts Page */
ytd-account-item-renderer.style-scope:nth-child(1) {
margin-top: 8px;
margin-bottom: 2px;
}

/* Other Dropdown */
#dropdown-items {
  padding-top: 2px;
  padding-bottom: 5px;
  border: 1px solid var(--gnome-menu-border-color);
}

div.dropdown-content {
border-radius: 12px !important;
}

.dropdown-content.ytmusic-dropdown-renderer {
  --paper-listbox-background-color: var(--gnome-menu-background);
  border-radius: 12px;
}

tp-yt-iron-dropdown.tp-yt-paper-menu-button {
  border-radius: 12px;
}

ytmusic-dropdown-item-renderer[is-selected] {
  background-color: var(--gnome-button-flat-hover-background);
}

ytmusic-dropdown-item-renderer:hover {
  background-color: var(--gnome-menu-button-hover-background);
}

#dropdown > div:nth-child(1) {
  border-radius: 12px;
  box-shadow: none;
}

ytmusic-dropdown-item-renderer.style-scope:nth-child(n) {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 2px !important;
  height: 32px;
  border-radius: 6px !important;
}

tp-yt-paper-item:focus::before, .tp-yt-paper-item.tp-yt-paper-item:focus::before {
background: transparent;
}

div.dropdown-content {
box-shadow: none !important;
}

ytd-multi-page-menu-renderer.style-scope {
background: transparent;
}

/* Lyrics */
.non-expandable {
padding-left: 18px !important;
}

/* Related Section */
ytmusic-section-list-renderer.style-scope:nth-child(4) > div:nth-child(2) > ytmusic-carousel-shelf-renderer:nth-child(1) > div:nth-child(1) > ytmusic-carousel:nth-child(2) > div:nth-child(1) > ul:nth-child(1) {
height: calc(var(--ytmusic-carousel-num-items-per-column) * var(--ytmusic-carousel-item-height) + var(--ytmusic-carousel-item-margin-bottom) * (var(--ytmusic-carousel-num-items-per-column) + 1)) !important;
margin-left: 0px;
width: 200%!important;
left: -40px;
}

/* New Playlist */
ytmusic-playlist-form {
background: var(--gnome-headerbar-background);
border-radius: 12px !important;
}


/* Inline #5 | https://music.youtube.com/library/playlists */

.header.ytmusic-playlist-form {
  border-radius: 12px;
}

.scrollable.tp-yt-paper-dialog-scrollable {
  border-radius: 12px;
}



/* Element | https://music.youtube.com/ */

ytmusic-playlist-form.style-scope {
  border-radius: 12px;
}

/* Element | https://music.youtube.com/ */


/* Element | https://music.youtube.com/ */

body > ytmusic-dialog:nth-child(29) {
  border-radius: 12px;
}

ytmusic-dialog tp-yt-paper-dropdown-menu.style-scope:nth-child(n) > tp-yt-paper-menu-button:nth-child(n) > tp-yt-iron-dropdown:nth-child(n) > div:nth-child(n) > div:nth-child(n) > tp-yt-paper-listbox:nth-child(n) > ytmusic-dropdown-item-renderer:nth-child(n) {
height: 48px;
}

tp-yt-paper-dropdown-menu.style-scope:nth-child(3) > tp-yt-paper-menu-button:nth-child(1) > tp-yt-iron-dropdown:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
background: transparent;
}

ytmusic-dialog tp-yt-paper-dropdown-menu.style-scope:nth-child(3) > tp-yt-paper-menu-button:nth-child(1) > tp-yt-iron-dropdown:nth-child(2) > div:nth-child(1) > div:nth-child(1) > tp-yt-paper-listbox:nth-child(1) {
padding-top: 5px !important;
    padding-bottom: 6px !important;
}

/* Stick Dropdown */
ytmusic-item-section-renderer[has-item-section-tabbed-header-renderer_] #header.ytmusic-item-section-renderer {
transition: background 0.03s;
}

#end-items {
height: 54px !important;
}


/* Progress Bar */
#primaryProgress.tp-yt-paper-progress {
  background: var(--gnome-button-destructive-action-background);
}

slider-knob-inner.tp-yt-paper-slider {
  background-color: var(--gnome-button-destructive-action-background);
  border: var(--paper-slider-knob-border-style, 2px solid var(--gnome-button-destructive-action-background));
  border-radius: 50%;
  box-shadow: var(--paper-slider-knob-box-shadow-style, none);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: -webkit-transform, background-color, border;
  transition-property: transform, background-color, border;
  transition-duration: 0.18s;
  transition-timing-function: ease;
}

/* Play Popup */
yt-bubble-hint-renderer[style_="BUBBLE_HINT_STYLE_BLUE_TOOLTIP"] {
  /* background-color: var(--yt-spec-dark-blue); */
  background-color: var(--gnome-menu-background);
}

yt-bubble-hint-renderer[style_="BUBBLE_HINT_STYLE_BLUE_TOOLTIP"]::before {
  /* border-color: var(--yt-spec-dark-blue) transparent transparent transparent; */
  border-color: var(--gnome-menu-background) transparent transparent transparent;
    z-index: 2;
}

/* Element | https://music.youtube.com/ */



/* Element | https://music.youtube.com/ */

yt-bubble-hint-renderer.style-scope > div:nth-child(1) {
  height: 11.4px !important;
  margin-bottom: 0px !important;
  width: 90.933px !important;
  margin-top: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 14px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  box-shadow: var(--gnome-menu-shadow) !important;
  transition: display 0.2s !important;
}

yt-bubble-hint-renderer.style-scope {
border-radius: 8px;
    
}

/* New Albums and Singles Fix */

/* Element | https://music.youtube.com/ */

ytmusic-carousel-shelf-renderer.style-scope:nth-child(2) > div:nth-child(1) {
  height: 379px !important;
}

/* Element | https://music.youtube.com/ */

ytmusic-carousel-shelf-renderer.style-scope:nth-child(2) > div:nth-child(1) > ytmusic-carousel:nth-child(2) {
  height: 1188px !important;
}

/* Element | https://music.youtube.com/ */

ytmusic-carousel-shelf-renderer.style-scope:nth-child(2) > div:nth-child(1) > ytmusic-carousel:nth-child(2) > div:nth-child(1) {
  height: 1139px !important;
}

/* Element | https://music.youtube.com/ */

ytmusic-carousel-shelf-renderer.style-scope:nth-child(2) > div:nth-child(1) > ytmusic-carousel:nth-child(2) > div:nth-child(1) > ul:nth-child(1) {
  padding-bottom: 1103px !important;
}

/* Search Bar */
.search-box {
height: 36px !important;
margin-bottom: 6px;
padding-bottom: 1px;
margin-top: 4px;
border-radius: 8px;
    z-index:999999999999999999999999;
}

/* Element | https://music.youtube.com/ */

#suggestion-list {
  margin-top: 12px;
}

/* Inline #5 | https://music.youtube.com/library/playlists */

ytmusic-search-suggestions-section.ytmusic-search-box {
  /* border-top: 1px solid var(--ytmusic-search-border); */
  border-top: 1px none var(--ytmusic-search-border) !important;
}

ytmusic-search-box[has-query] .search-container.ytmusic-search-box, ytmusic-search-box[opened] .search-container.ytmusic-search-box {
  /* box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4); */
  box-shadow: var(--gnome-menu-shadow);
}

ytmusic-search-suggestions-section {
  /* background: var(--ytmusic-search-background); */
  background: var(--gnome-inactive-toolbar-border-color) !important;
  border-radius: 12px!important;
}

/* Element | https://music.youtube.com/ */

#suggestions {
  border-radius: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
}

ytmusic-search-box[opened], ytmusic-search-box[has-query] {
border: 1px none var(--ytmusic-search-border);
}

ytmusic-search-suggestion {
background: var(--gnome-inactive-toolbar-border-color) !important;
}

.title.ytmusic-search-suggestion {
color: white;
    scale: 1.25;
    margin-left:65px
}

#suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section, #suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section:hover, ytmusic-search-suggestions-section:not([is-entity-search-suggestions-enabled]) #suggestions.ytmusic-search-suggestions-section > .selected-suggestion.ytmusic-search-suggestions-section {

    margin-left: 7px !important;
  margin-right: 7px !important;
  margin-top: 0px !important;
    margin-bottom: 3px;
  height: 35px;
  border-radius: 6px !important;
}

#suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section:hover, #suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section:hover, ytmusic-search-suggestions-section:not([is-entity-search-suggestions-enabled]) #suggestions.ytmusic-search-suggestions-section > .selected-suggestion.ytmusic-search-suggestions-section:hover {
background-color: var(--gnome-menu-button-hover-background) !important;
}

#suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section:last-of-type, #suggestions.ytmusic-search-suggestions-section > .ytmusic-search-suggestions-section:hover:last-of-type, ytmusic-search-suggestions-section:not([is-entity-search-suggestions-enabled]) #suggestions.ytmusic-search-suggestions-section > .selected-suggestion.ytmusic-search-suggestions-section:last-of-type {
    margin-bottom: 0px;
}

tp-yt-paper-icon-button.search-icon.style-scope.ytmusic-search-box paper-ripple {
    display: none;
}





}
