/* Info
@name           Gnome20
@namespace      https://app.roll20.net/editor
@description    If you have to use Roll20, at least make it look nice!
@author         AnthemV
@version        1.9.9.9
@license        Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
@homepageURL    https://github.com/AnthemV/Gnome20
@supportURL     https://github.com/AnthemV/Gnome20/issues
@updateURL      https://github.com/AnthemV/Gnome20/raw/main/Gnome20.user.styl
==/UserStyle== */

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Firefox Gnome Theme Colors */
/* Taken directly from Firefox Gnome Theme (https://github.com/rafaelmardojai/firefox-gnome-theme).*/
:root {
    /* Browser area before a page starts loading */
    --gnome-browser-before-load-background: #242424;

    /* Accent */
    --gnome-accent-bg: #3584e4;
    --gnome-accent: #78aeed;

    /* Toolbars */
    --gnome-toolbar-background: #242424;
    --gnome-toolbar-color: #ffffff;
    --gnome-toolbar-border-color: rgba(255, 255, 255, .15);
    --gnome-toolbar-icon-fill: #eeeeec;
    --gnome-inactive-toolbar-color: #919190;
    --gnome-inactive-toolbar-background: var(--gnome-toolbar-background);
    --gnome-inactive-toolbar-border-color: #3F3F3F;
    --gnome-inactive-toolbar-icon-fill: #919190;

    /* Sidebar */
    --gnome-sidebar-background: var(--gnome-toolbar-background);
    --gnome-inactive-sidebar-background: var(--gnome-sidebar-background);

    /* Menus */
    --gnome-menu-background: #383838;
    --gnome-menu-border-color: rgba(0, 0, 0, .14);
    --gnome-menu-shadow: 0 1px 5px 1px rgba(0, 0, 0, .09), 0 2px 14px 3px rgba(0, 0, 0, .05);
    --gnome-menu-button-hover-background: var(--gnome-button-background);
    --gnome-menu-separator-color: rgba(255, 255, 255, .1);

    /* Header bar */
    --gnome-headerbar-background: #303030;
    --gnome-headerbar-border-color: var(--gnome-toolbar-border-color);
    --gnome-inactive-headerbar-background: var(--gnome-inactive-toolbar-background);
    --gnome-inactive-headerbar-border-color: var(--gnome-inactive-toolbar-border-color);

    /* Buttons */
    --gnome-button-background: rgba(255, 255, 255, .1);
    --gnome-button-hover-background: rgba(255, 255, 255, .15);
    --gnome-button-active-background: rgba(255, 255, 255, .3);
    --gnome-button-flat-hover-background: rgba(255, 255, 255, .07);
    --gnome-button-flat-active-background: rgba(255, 255, 255, .1);
    --gnome-button-suggested-action-background: var(--gnome-accent-bg);
    --gnome-button-destructive-action-background: #e01b24;

    --gnome-button-close-background: var(--gnome-button-flat-hover-background);
    --gnome-button-hover-close-background: var(--gnome-button-hover-background);
    --gnome-button-active-close-background: var(--gnome-button-active-background);

    /* Entries */
    --gnome-entry-background: rgba(255, 255, 255, .1);
    --gnome-entry-color: #ffffff;
    --gnome-inactive-entry-color: #d6d6d6;
    --gnome-focused-urlbar-border-color: rgba(120, 174, 237, .5);
    /* Same as --gnome-accent but with opacity*/
    /* Switch */
    --gnome-switch-background: rgba(255, 255, 255, .15);
    --gnome-switch-slider-background: #d2d2d2;
    --gnome-switch-active-background: var(--gnome-accent-bg);
    --gnome-switch-active-slider-background: #ffffff;

    /* Tabs */
    --gnome-tabbar-tab-background: #262626;
    --gnome-tabbar-tab-border-color: var(--gnome-toolbar-border-color);
    --gnome-tabbar-tab-hover-background: #2D2D2D;
    --gnome-tabbar-tab-active-background: #303030;
    --gnome-tabbar-tab-active-background-contrast: #4F4F4F;
    --gnome-tabbar-tab-active-hover-background: #363636;
    --gnome-inactive-tabbar-tab-background: #1C1C1C;
    --gnome-inactive-tabbar-tab-active-background: #242424;
    --gnome-tab-button-background: rgba(0, 0, 0, .5);
    --gnome-tab-button-hover-background: rgba(0, 0, 0, .6);
    --gnome-tabbar-tab-identity-base-opacity: 0;
}

/* Private window colors */
:root {
    --gnome-private-accent: #71A1DB;

    /* Toolbars */
    --gnome-private-toolbar-background: #1C2438;
    --gnome-private-inactive-toolbar-background: var(--gnome-private-toolbar-background);
    /* Menus */
    --gnome-private-menu-background: #252F49;
    /* Header bar */
    --gnome-private-headerbar-background: #252F49;
    --gnome-private-inactive-headerbar-background: var(--gnome-private-toolbar-background);

    /* Text color for Firefox Logo in new private tab */
    --gnome-private-wordmark: #FBFBFE;

    /* New private tab background */
    --gnome-private-in-content-page-background: #1C2438;

    /* Private browsing info box */
    --gnome-private-text-primary-color: #FBFBFE;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Updated Color CSS */
/* Taken these directly from Firefox Gnome Theme (https://github.com/rafaelmardojai/firefox-gnome-theme). I had to take them from the light mode because the dark theme doesn't include all the color palletes, so I've selectively removed the light colors that caused issues */
:root {
    /* Pallete */
    --gnome-palette-blue-1: #99c1f1;
    --gnome-palette-blue-2: #62a0ea;
    --gnome-palette-blue-3: #3584e4;
    --gnome-palette-blue-4: #1c71d8;
    --gnome-palette-blue-5: #1a5fb4;
    --gnome-palette-green-1: #8ff0a4;
    --gnome-palette-green-2: #57e389;
    --gnome-palette-green-3: #33d17a;
    --gnome-palette-green-4: #2ec27e;
    --gnome-palette-green-5: #26a269;
    --gnome-palette-yellow-1: #f9f06b;
    --gnome-palette-yellow-2: #f8e45c;
    --gnome-palette-yellow-3: #f6d32d;
    --gnome-palette-yellow-4: #f5c211;
    --gnome-palette-yellow-5: #e5a50a;
    --gnome-palette-orange-1: #ffbe6f;
    --gnome-palette-orange-2: #ffa348;
    --gnome-palette-orange-3: #ff7800;
    --gnome-palette-orange-4: #e66100;
    --gnome-palette-orange-5: #c64600;
    --gnome-palette-red-1: #f66151;
    --gnome-palette-red-2: #ed333b;
    --gnome-palette-red-3: #e01b24;
    --gnome-palette-red-4: #c01c28;
    --gnome-palette-red-5: #a51d2d;
    --gnome-palette-purple-1: #dc8add;
    --gnome-palette-purple-2: #c061cb;
    --gnome-palette-purple-3: #9141ac;
    --gnome-palette-purple-4: #813d9c;
    --gnome-palette-purple-5: #613583;
    --gnome-palette-brown-1: #cdab8f;
    --gnome-palette-brown-2: #b5835a;
    --gnome-palette-brown-3: #986a44;
    --gnome-palette-brown-4: #865e3c;
    --gnome-palette-brown-5: #63452c;
    --gnome-palette-light-1: #ffffff;
    --gnome-palette-light-2: #f6f5f4;
    --gnome-palette-light-3: #deddda;
    --gnome-palette-light-4: #c0bfbc;
    --gnome-palette-light-5: #9a9996;
    --gnome-palette-dark-1: #77767b;
    --gnome-palette-dark-2: #5e5c64;
    --gnome-palette-dark-3: #3d3846;
    --gnome-palette-dark-4: #241f31;
    --gnome-palette-dark-5: #000000;

    /* Accent */
    --gnome-accent-bg: var(--gnome-palette-blue-3);
    --gnome-accent: var(--gnome-palette-blue-1);

    --gnome-selection-bg: color-mix(in srgb, var(--gnome-accent-bg) 30%, transparent);
    --gnome-toolbar-star-button: var(--gnome-palette-yellow-5);

    /* Window */
    --gnome-window-color: rgba(0, 0, 0, 0.8);

    --gnome-view-color: var(--gnome-window-color);
    --gnome-view-selected-background: color-mix(in srgb, var(--gnome-accent-bg) 25%, transparent);
    --gnome-view-selected-hover-background: color-mix(in srgb, var(--gnome-accent-bg) 32%, transparent);
    --gnome-view-selected-active-background: color-mix(in srgb, var(--gnome-accent-bg) 39%, transparent);

    /* Card */
    --gnome-card-shade-color: color-mix(in srgb, black 7%, transparent);

    /* Menu */
    --gnome-menu-color: var(--gnome-window-color);
    --gnome-menu-border-color: rgba(0, 0, 0, .04);
    --gnome-menu-shadow: 0 1px 5px 1px rgba(0, 0, 0, .09), 0 2px 14px 3px rgba(0, 0, 0, .05);
    --gnome-menu-button-hover-background: var(--gnome-button-background);
    --gnome-menu-separator-color: var(--gnome-border-color);

    /* Header bar */
    --gnome-headerbar-shade-color: rgba(0, 0, 0, 0.07);

    /* Toolbars */
    --gnome-toolbar-background: var(--gnome-headerbar-background);
    --gnome-toolbar-color: var(--gnome-window-color);
    --gnome-toolbar-border-color: var(--gnome-headerbar-shade-color);
    --gnome-toolbar-icon-fill: #2f2f2f;

    /* Elements */
    --gnome-border-color: color-mix(in srgb, currentColor 15%, transparent);
    --gnome-hover-color: color-mix(in srgb, currentColor 7%, transparent);
    --gnome-active-color: color-mix(in srgb, currentColor 16%, transparent);
    --gnome-selected-color: color-mix(in srgb, currentColor 10%, transparent);
    --gnome-selected-hover-color: color-mix(in srgb, currentColor 13%, transparent);
    --gnome-selected-active-color: color-mix(in srgb, currentColor 19%, transparent);
    --gnome-trough-background: color-mix(in srgb, currentColor 15%, transparent);
    --gnome-trough-hover-background: color-mix(in srgb, currentColor 20%, transparent);
    --gnome-trough-active-background: color-mix(in srgb, currentColor 25%, transparent);

    /* Buttons */
    --gnome-button-background: color-mix(in srgb, currentColor 10%, transparent);
    --gnome-button-hover-background: color-mix(in srgb, currentColor 15%, transparent);
    --gnome-button-active-background: color-mix(in srgb, currentColor 30%, transparent);
    --gnome-button-suggested-action-background: var(--gnome-accent-bg);
    --gnome-button-destructive-action-background: #e01b24;

    /* Entries */
    --gnome-entry-background: var(--gnome-button-background);
    --gnome-entry-color: var(--gnome-view-color);
    --gnome-focused-urlbar-border-color: color-mix(in srgb, var(--gnome-accent) 50%, transparent);

    /* Tabs */
    --gnome-tabbar-background: var(--gnome-headerbar-background);
    --gnome-tabbar-tab-separator-color: var(--gnome-border-color);

    --gnome-tabbar-tab-needs-attetion: var(--gnome-accent);

    --gnome-tabbar-identity-color-blue: var(--gnome-accent);
    --gnome-tabbar-identity-color-turquoise: #00c79a;
    --gnome-tabbar-identity-color-green: var(--gnome-palette-green-5);
    --gnome-tabbar-identity-color-yellow: #ae7b03;
    --gnome-tabbar-identity-color-orange: var(--gnome-palette-orange-4);
    --gnome-tabbar-identity-color-red: var(--gnome-palette-red-3);
    --gnome-tabbar-identity-color-pink: #ff4b84;
    --gnome-tabbar-identity-color-purple: var(--gnome-palette-purple-4);

    /* Text color for Firefox Logo in new private tab */
    --gnome-private-wordmark: #20123A;
    /* New private tab background */
    --gnome-private-in-content-page-background: #FAFAFA;
    /* Private browsing info box */
    --gnome-private-text-primary-color: #15141A;
}

/* Backdrop colors */
/* Hardcoded color */
/* Hardcoded color */
/* Private colors */
:root[privatebrowsingmode="temporary"] {
    --gnome-accent-fg: var(--gnome-palette-blue-4);
    /* Headerbar */
    --gnome-headerbar-background: #D7E3F0 !important;
    /* Tabs */
    --gnome-tabbar-tab-hover-background: #cbd7e3;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #c6d1dd;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background-contrast: #a9b6c4;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-hover-background: #c0cbd7;
    /* Hardcoded color */
}

/* Private and backdrop colors */
:root[privatebrowsingmode="temporary"]:-moz-window-inactive {
    --gnome-headerbar-background: #D7E3F0 !important;
    --gnome-tabbar-tab-hover-background: #e4e9f0;
    /* Hardcoded color */
    --gnome-tabbar-tab-active-background: #e1e7ed;
    /* Hardcoded color */
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Interface - Colors, Font, and General  */
:root {
    /* Color Variables */
    --dark-primary: var(--gnome-accent-bg) !important;
    --dark-primary-highlight: var(--gnome-accent) !important;
    --dark-surface1: var(--gnome-sidebar-background) !important;
    --dark-surface2: var(--gnome-sidebar-background) !important;
    --dark-purple-text: var(--gnome-accent) !important;
    --el-button-border-color: var(--gnome-accent-bg) !important;
    --el-button-hover-bg-color: var(--gnome-accent) !important;
    --el-button-active-bg-color: var(--gnome-accent) !important;
    --el-button-hover-border-color: var(--gnome-accent-bg) !important;
    --dark-background: var(--gnome-inactive-tabbar-tab-background) !important;
    --color-primary-text: var(--gnome-accent-bg) !important;
    --el-border-color-light: var(--gnome-accent) !important;
    --el-color-primary: var(--gnome-accent-bg) !important;
    --el-fill-color-light: var(--gnome-menu-button-hover-background) !important;
    --el-border-radius-base: 8px !important;
    --el-border-color: var(--gnome-button-active-background) !important;
    --el-border-color-hover: var(--gnome-accent) !important;
    /* Accent Colors */
    --primary-dark: var(--gnome-button-background) !important;
    --primary-dark-l80: color-mix(in srgb, var(--gnome-accent) 15%, transparent) !important;
    --primary-dark-d20: var(--gnome-active-color) !important;
    --primary-dark-d40: var(--gnome-active-color) !important;
    --primary-dark-l20: var(--gnome-button-flat-hover-background) !important;
    --primary-dark-l40: var(--gnome-accent) !important;
    --primary-dark-l60: color-mix(in srgb, var(--gnome-accent) 75%, white) !important;
    --surface-primary-text: color-mix(in srgb, var(--gnome-accent) 75%, white) !important;
    --link-text-hover: color-mix(in srgb, var(--gnome-accent) 60%, white) !important;
    --dark-card-purple: var(--gnome-view-selected-hover-background) !important;
    --vtt-dropdown-header-bg: var(--gnome-active-color) !important;
    --el-text-color-primary: var(--gnome-accent-bg) !important;
    --surface-dark-gamecard: #263F5EFF;
}

/* What's new message background imagae color */
#whats-new-insert-outer {
    filter: hue-rotate(330deg) !important;
}

/* Fonts */
body {
    font-family: Inter, "Proxima Nova", "ProximaNova-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.interad {
    /* Removes the ad that displays when loading into a game */
    display: none !important;
}

/* Loading Screen Background */
#loading-overlay {
    background-color: var(--gnome-inactive-tabbar-tab-background);
}

/* UI Dialogues */
.ui-dialog {
    border-radius: 12px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    box-shadow: var(--gnome-menu-shadow) !important;
}

.ui-dialog-titlebar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    background: transparent !important;
    padding-left: 5px !important;
    font-size: 17px !important;
}


/* Exit Game Button */
html.dark .el-button {
    --el-button-disabled-text-color: rgba(255, 255, 255, 0.5) !important;
    --el-button-hover-text-color: #E6E6E6 !important;
    --el-button-border-color: var(--gnome-accent-bg) !important;
    --el-button-hover-bg-color: var(--gnome-focused-urlbar-border-color) !important;
    --el-button-active-bg-color: var(--gnome-accent) !important;
    --el-button-hover-border-color: var(--gnome-accent-bg) !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Toggles and Checkboxes */
/* Color of toggled switches */
.dark .el-switch.is-checked .el-switch__core {
    background: var(--gnome-accent-bg) !important;
}

/* Checkboxes */
.el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: var(--el-checkbox-input-border);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: var(--el-index-normal);
    transition: border-color .25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color .25s cubic-bezier(0.71, -0.46, 0.29, 1.46), outline .25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    border-color: var(--gnome-accent) !important;
}

/* Checkbox colors */
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: var(--gnome-accent-bg) !important;
    border-color: var(--gnome-accent-bg) !important;
}

/* Color of checkbox labels */
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: var(--gnome-accent) !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  Right Sidebar - Basic Layout */
#rightsidebar {
    /* Why did the sidebar have rounded corner? */
    border-radius: 0px !important;
    border-color: var(--gnome-tabbar-tab-active-background-contrast) !important;
}

/* View/hide control for the main sidebar */
#sidebarcontrol {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50px 0% 0% 50px;
    background-color: var(--vtt-collapse-btn-bg);
    border: 1px solid var(--vtt-collapse-btn-border-color);
    border-right: 0px solid var(--vtt-collapse-btn-border-color);
    color: var(--vtt-collapse-btn-color);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    opacity: 100%;
    top: 8px;
    padding-right: 35px;
}

/* Icon of view/hide control */
#sidebarcontrol .fonticon-menu {
    font-size: 13px;
    padding-left: 20px;
}

#rightsidebar .ui-tabs-panel {
    border-radius: 0px !important;
}


/* Fix for journal tab */
#journal .content {
    margin-top: 2px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  Right Sidebar - View Switchers */
/* Wrapper for the View Switchers - Now a flex that justifies each entry */
#rightsidebar .tabmenu {
    width: calc(100% - 12px) !important;
    padding: 0px 6px !important;
    margin: 0px !important;
    border: 0px !important;
    top: 0px !important;
    position: absolute !important;
    display: flex !important;
    justify-content: space-evenly !important;
    gap: 4px;
    border-bottom: solid 1px var(--gnome-tabbar-tab-active-background-contrast) !important;
    background-color: var(--gnome-headerbar-background) !important;
}

[role="tab"] {
    flex-basis: 32px !important;
    flex-grow: 1 !important;
    flex-shrink: 1 !important;
    display: flex;
    justify-content: center;
}


/* Hides an element that was messing up the centering of view switchers */
.ui-helper-clearfix:after {
    display: none !important;
}

/* View Switchers */
.Roll20Icon.ui-tabs-anchor {
    font-size: 18px !important;
    /* font-size alters the size of the icons */
    line-height: 1.7 !important;
    border-radius: 7px !important;
    margin: 4px 0px 6px 0px !important;
    width: 100%;
    height: 29px !important;
    padding: 0px !important;
    text-align: center !important;
    border-bottom: 1px solid transparent !important;
    /* Fixes a strange effect where hovering an view switcher would change the its border size */
    transition: background .2s !important;
}

/* Manual line height for view switcher icons that are offset due to the font */
#ui-id-2,
#ui-id-3,
#ui-id-5,
#ui-id-6,
#anchor_settings_categories {
    line-height: 1.6 !important;
}


/* Color of View switcher when hovered */
.Roll20Icon.ui-tabs-anchor:hover {
    background-color: var(--gnome-button-flat-hover-background)
}

/* Color of view switcher when focused */
.ui-state-active .Roll20Icon.ui-tabs-anchor {
    background-color: var(--gnome-button-flat-active-background) !important;
}


/* Fix for weird focus box showing up around view switchers in some browsers */
#rightsidebar .ui-tabs-nav li.ui-state-active a:focus:not(:focus-visible) {
    outline: none
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Right Sidebar - Chat Log */
/* #textchat is the main div that contains the chat log */
#textchat {
    top: 42px !important;
    box-sizing: content-box !important;
    padding-bottom: 3px!important;
}

/* Fixes chat log having extra empty space at the bottom. Relies of the main #textchat div having content box sizing and 3px of bottom padding */
#textchat .content {
    margin-bottom: -3px !important;
}

/* User Icons */
.textchatcontainer .avatar img {
    width: 28px !important;
    height: 28px !important;
    border-radius: 23px;
    margin-top: 14px;
    margin-left: -5px;
    border-top: 1px;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-width: 2px;
    border-style: solid;
    background: var(--gnome-tabbar-tab-active-background-contrast);
}

/* Moves user icons to the side */
div.message div.avatar img {
    margin-left: 7px;
}

/* Hides the name of message senders - just use unique icons, damnit! */
.by {
    visibility: hidden;
    font-size: 0px !important;
}

/* Message dividers */
#textchat .spacer {
    width: 111vw !important;
    height: 0.89116666666666666px !important;
    background-color: var(--gnome-tabbar-tab-active-background-contrast) !important;
    margin-left: -57px !important;
    margin-bottom: 24px !important;
    margin-top: 20px;
    line-height: 1 !important;
}

/* Adds spacing between messages, and move them to the left */
.textchatcontainer .message.private:nth-of-type(n+1),
div.message.rollresult:nth-child(n+1) {
    padding-left: 49.5px;
    margin-top: 20px;
    margin-bottom: -19.5px;
    padding-bottom: 21px;
}

/* Adjusts normal messages so that they work with all the changes I've made to the chat log */
div.message.general:nth-child(n+1) {
    padding-left: 57px;
    margin-top: 20px;
    margin-bottom: -19.5px;
    padding-bottom: 21px;
}

/* Background of all messages should be transparent, with the background color instead being set by the chat log */
.textchatcontainer .rollresult.quantumRoll,
.textchatcontainer .message.you {
    background: none;
}

/* Dice roll results */
.textchatcontainer .formula,
.textchatcontainer .rolled {
    border-color: transparent !important;
    border-radius: 7px !important;
    background-color: var(--gnome-entry-background) !important;
}

/* Wrapper for the dice icons and the numbers they rolled */
div.formula.formattedformula {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    margin-right: 5px !important;
    min-height: 32px !important;
    box-sizing: border-box !important;
}

/* Fixes all the symbols (plus, minus, ect.) from being too low in their respective sections */
div.dicegrouping.ui-sortable {
    line-height: normal !important;
}

/* The numbers shown on top of the dice icons */
div.didroll {
    padding-top: 6px !important;
}

/* Total sum of roll */
div.rolled.ui-draggable {
    display: inline-block !important;
    height: 40px !important;
    padding: 6px !important;
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    box-sizing: border-box !important;
    line-height: 27px !important;
}

/* Funky things to make the dice roller element line up in a sensible manner */
div.message.rollresult > strong {
    margin-bottom: 6px;
    padding-bottom: 9px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    width: 4px;
    height: 20px;
    display: inherit;
    margin-left: 56px;
    margin-top: -79px;
    color: transparent;
}




/* Chat timestamps */
.textchatcontainer .message .tstamp {
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: -1px;
    padding-bottom: 4px;
    padding-top: 1.5px;
}













/* "View all chat entries for this game" message */
div.chatlogmessage {
    padding: 10px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    width: unset !important;
    text-align: center !important;
}

/* Sets the first message in chat to not have a huge margin-top, so that the purpe doesn't get cut off */
div.rollresult:nth-child(1) {
    margin-top: 0px;
}

.message:first-of-type,
.message:first-of-type .spacer {
    margin-top: 0px !important;
}

/* Fixes for system messages */
.textchatcontainer .content .message.system {
    padding-left: 28px !important;
}

/* Stops system messages from having their special background cut off by the margins of normal messages */
.message.system + .message,
.message.system + .message .spacer {
    margin-top: 0px !important;
}

/* Fixes the fancy update message */
#textchat .message.news .spacer {
    margin-bottom: 0px !important;
}

/* Fixes the fancy update message - same thing but for the bottom */
.message.news + .message.system .spacer {
    margin-top: 0px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  Right Sidebar - Chat Text Entry Area */
/* Text Entry Area - a seperate div from #textchat for some reason */
#textchat-input {
    right: 0px !important;
    margin: 0px !important;
    padding: 13px 4.5px 13px 4.5px !important;
    color: var(--gnome-menu-border-color) !important;
    border: solid var(--gnome-tabbar-tab-active-background-contrast) !important;
    border-top-width: 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}

/* Text input div */
.ui-autocomplete-input {
    margin: auto !important;
    width: calc(100% - 22px) !important
}

/* Text entry field */
#textchat-input textarea {
    background-color: var(--gnome-entry-background) !important;
    border-style: hidden !important;
}

/* Focus highlight for chat entry and user selector */
div#textchat-input textarea.ui-autocomplete-input:focus,
select#speakingas.selectize:focus {
    outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
}

/* Section containing the "send as" section and send button */
#textchat-input > div:nth-child(5) {
    display: flex !important;
    margin: 10px 7px 0px 7px !important;
    box-sizing: border-box !important;
    justify-content: center !important;
}

/* Wrapper for speaking as selector */
#textchat-input > div:nth-child(5) > div:nth-child(1) {
    width: 100%;
}


/* Speaking as selector */
div#textchat-input div select#speakingas.selectize {
    background: var(--gnome-entry-background);
    border: 0px solid var(--gnome-tabbar-tab-active-background-contrast);
    border-radius: 12px;
    width: calc(100% - 33px)!important;
    margin: 0px !important;
}

/* Selected character lebel */
#speakingas {
    padding-left: 9px;
}


/* "As:" label */
#textchat-input label {
    top: 1px !important;
}

/* Send button */
#chatSendBtn {
    height: 16px !important;
    width: 16px !important;
    margin-top: 0px !important;
    padding: 6px 7px !important;
    margin-left: 10px !important;
    border-radius: 50% !important;
    font-size: 0px !important;
    background: var(--gnome-button-suggested-action-background) !important
}

#chatSendBtn:hover {
    background: color-mix(in srgb, var(--gnome-button-suggested-action-background) 90%, transparent) !important;
}

/* Add an icon to the send button */
#chatSendBtn::before {
    content: "\f1d8";
    /* Unicode for fa-paper-plane */
    font-family: "Font Awesome 5 Free";
    /* Font Family for Free Solid icons */
    font-weight: 900;
    /* Font weight for Free Solid icons */
    font-size: 14px;
    margin-left: -2px;
    line-height: 1.2;
}

/* Who's Typing Popup*/
#whoistyping {
    padding-top: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

/* Dice rolling popup */
#textchat-notifier {
    padding: 8px 12px;
    border-radius: 7px;
    line-height: 1;
    margin: 0px 6px 0px 0px;
    color: var(--grayscale-dark-base);
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Right Sidebar - Art Library Tab */
/* Fix for image library tab, since the size of the view switcher wrapper is now larger */
#imagedialog .searchbox {
    margin-top: 2px !important;
}

/* Width of the top section holding the search bar */
#imagedialog > div:nth-child(1) {
    width: calc(100% - 20px);
}

/* Search label */
#imagedialog > div:nth-child(1) > p:nth-child(2) {
    margin-top: 3px;
}

/* Width of the search bar */
#imagedialog > div:nth-child(1) > input:nth-child(4) {
    width: calc(100% - 36px) !important;
    padding-right: 30px !important;
}

/* Place search info button inside of the search bar */
.searchinfotoggle {
    display: unset !important;
    margin-left: -28px !important;
}

/* Color of the clicked state of the info button */
.searchinfotoggle:active {
    color: var(--gnome-inactive-toolbar-icon-fill);
}


/* Search info panel */
#searchinfo pre {
    padding: 4.5px !important;
    color: var(--dark-primarytext) !important;
    background-color: var(--gnome-entry-background) !important;
    border: 0px solid;
    border-radius: var(--el-border-radius-base) !important;
}

/* More of the above */
#searchinfo {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 9px !important;
}

/* Examples in the info panel */
#searchinfo > span:nth-child(n) > pre:nth-child(n) {
    margin-top: 6px !important;
    width: calc(100% - 14px) !important;
    padding-left: 9.5px !important;
}

/* Margin at the bottom of info panel */
#searchinfo > span:nth-child(4) > pre:nth-child(1) {
    margin-bottom: 6px !important;
}

/* Moves the plus/minus icons down to be in line with the text */
#rightsidebar .paddedtable button {
    display: block;
    margin-top: 2px;
}

/* Center the two tabs, premium vs your library */
div.tabcontainer:nth-child(7) {
    margin-top: -8px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    min-width: unset;
}

/* Hover color of the two tabs */
#imagedialog .tabcontainer a:hover {
    color: var(--gnome-accent);
}

/* Upload button */
.showuploaddialog {
    /* margin-right: 15px; */
    margin-right: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: -2px !important;
}

/* Add folder button */
.addlibraryfolder {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 6px !important;
    padding-left: 6px !important;
    margin-top: -2px !important;
    margin-right: 7px !important;
}

/* Color of dropdowns */
.no-touch .dd-content:hover {
    color: var(--gnome-accent);
}

/* Recent upload label */
#userlibrary > div:nth-child(5) {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -21px;
}

/* That one button - I don't know what it's meant to do, but it's aligned properly now */
div.tabcontainer:nth-child(3) {
    margin-top: 5px;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Right Sidebar - Jukebox */
/* Moves the main section down */
#jukebox .content {
    margin-top: 12px !important;
}

/* Border of playing section */
#jukeboxwhatsplaying,
div#searchinfo {
    border: 1px solid var(--gnome-button-active-background) !important;
    border-radius: 8px !important;
}

/* Spacing in now playing section */
#jukeboxwhatsplaying {
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
}

/* Spacer at the bottom of the page */
#jukebox hr {
    border-top-color: var(--gnome-tabbar-tab-active-background-contrast);
}

/* Decrease spacing below h3 headers */
#rightsidebar #jukebox h3 {
    margin-bottom: 2px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Right Sidebar - Macros */
/* Decrease spacing below h3 headers */
#rightsidebar #deckstables h3 {
    margin-bottom: 2px !important;
}

/* Fix for macro tab */
#deckstables .content {
    margin-top: 12px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Right Sidebar - Settings */
/* Fix for settings tab */
#vm_settings_categories #settings-categories {
    margin-top: 2px !important;
    height: calc(100% - 2px) !important;
}
/* Adds space to the top of the settings panel list via the wrapper for dropdowns */
#settings-accordion {
    margin: 8px !important;
}

/* Remove the white line underneath an expanded panel */
#settings-accordion .panel-body {
    border-top-color: transparent !important;
}

/* Panel wrappers */
#settings-accordion .panel {
    margin-top: 1px !important;
    width: clamp(136px, calc(100% - 2px), 490px) !important;
    margin-left: auto;
    margin-right: auto;
}

/* Panel headers */
.panel-title {
    font-size: 15px;
    font-weight: 600;
}

/* Remove underline when hovering the panel header */
.panel-heading:hover .accordion-toggle,
.panel-heading:focus .accordion-toggle,
.panel-heading:active .accordion-toggle,
.panel-heading .accordion-toggle {
    text-decoration: none !important;
}



/* Panel wrappers */
#settings-accordion .panel,
.panel-heading {
    border-radius: 0px !important;
    overflow: hidden;
}

/* Applies rounded corners to the first panel */
#settings-accordion .panel:first-of-type {
    border-radius: 8px 8px 0px 0px !important;
}

/* Applies rounded corners to the last panel */
#settings-accordion .panel:last-of-type {
    border-radius: 0px 0px 8px 8px !important;
}

/* Expanded inside of panel */
.panel-collapse {
    background: var(--gnome-hover-color) !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  User Indicators */
/* Wrapper for all the player names */
#avatarContainer {
    margin-bottom: -20px;
    margin-left: 1px;
}

.pz-top #avatarContainer {
    margin-left: -18px;
    margin-top: -14px;
}

body:has(.master-toolbar-collapsed) .pz-top #avatarContainer {
    margin-left: -45px !important;
}

/* Div containing each player's name */
div.playername:nth-child(n) {
    border-radius: 5px;
    border-color: var(--gnome-menu-background);
    backdrop-filter: blur(15px);
}

/* Display name of players */
.player .playername {
    background-color: var(--gnome-tab-button-hover-background);
    font-size: 14px;
    font-family: rubik;
    text-align: left;
    padding-left: 9px;
    width: 141px;
    margin-bottom: 1px !important;
}

/* Display name bar adjustment for small video windows */
.smallvideo .player .playername {
    width: 91px !important;
}

/* Display name bar adjustment for large video windows */
.largevideo .player .playername {
    width: 191px !important;
}

/* Color display of players */
div.color_picker:nth-child(n),
div.playercolor {
    border-radius: 5px !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
}

/* Video popups */
.player .video {
    border-radius: 15px 15px 5px 5px;
}

.video {
    margin-bottom: 6px;
}



/* User color selector */
div#color_selector {
    background-color: var(--dark-surface2);
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-radius: 12px;
    padding: 8px;
    margin-top: 163px;
    margin-left: -13px;
}

/* Color list */
div.color_swatch {
    border-radius: 5px;
}

/* Wrapper for hex entry area */
div#color_custom:hover {
    border-color: transparent !important;
    background-color: var(--gnome-entry-bg) !important;
}

/* Label that says "hex" */
div#color_custom label {
    color: var(--dark-primarytext);
    margin-bottom: -4px;
    margin-left: 4px;
    margin-top: 4px;
}

/* Label within the hex box */
div#color_custom input {
    margin: 5px 2px;
    font-size: 95%;
    border: 0px solid #000;
    width: 104px;
    padding-left: 3px;
    margin-bottom: 1px;
    background: var(--gnome-entry-background);
    border-radius: 6px;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  Macro Bar */
/* Wrapper for all macros */
#macrobar {
    margin-bottom: -9px;
    margin-left: -8px;
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: auto;
    height: 54px !important;
    border-radius: 0px 12px 0px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
}

/* Macro bar */
#macrobar_macros {
    background-color: var(--gnome-toolbar-background);
    width: calc(100% - 0px);
    padding: 8px 0px 8px 17px !important;
    overflow: scroll !important;
}

/* Macro button text */
div.macrobox:nth-child(n) > button:nth-child(n) {
    background: var(--gnome-button-background) !important;
    color: #E6E6E6 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0) !important;
    border: 1px solid transparent !important;
    border-radius: 7px;
    padding: 5px 8px 5px 8px;
    font-weight: 600;
    font-size: 13px !important;
}

/* Hover color of macro buttons */
div.macrobox:nth-child(n) > button:nth-child(n):hover {
    background: var(--gnome-button-hover-background) !important;
}



/* Fix - Stops the macro buttons from gaining large padding when hovered */
div.macrobox:nth-child(n) {
    background-color: transparent !important;
    margin-right: 9px !important;
    padding-right: 0px !important;
}

/* Fix - Stops the inner of the macro buttons gaining margin when hovered */
div.macrobox:nth-child(n):hover {
    background-color: rgba(0, 0, 0, 0) !important;
    margin-right: 9px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/*  Initiative Tracker */
.initiativedialog {
    min-width: 200px !important;
}

/* Wrapper for the initiative tracker parts of the dialogue */
#initiativewindow {
    scrollbar-width: none !important;
    overflow: visible !important;
}

/* Top section that holds the count of entries and the sort button */
.initiative_top_section {
    margin-top: -14px;
}

/* The count */
.count__wrapper {
    margin-left: 7px;
}

/* Sort label */
.sortlist_quicksort__wrapper > p:nth-child(1) {
    display: none;
}

/* Sort button */
.sortlist_quicksort__wrapper {
    margin-top: -28px !important;
    margin-right: 6px !important;
    opacity: 70%;
}

/* Hover indicator */
.sortlist_quicksort__wrapper:hover {
    opacity: 80%;
}

.characterlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Initiative entries */
#initiativewindow .token {
    border-bottom-width: 0px !important;
    margin-bottom: 1px !important;
    margin-top: 0px !important;
    padding-bottom: 3px !important;
    width: clamp(136px, calc(100% - 10px), 450px);
    background-color: var(--gnome-headerbar-background);
    min-height: 36px !important;
}

/* First (active) entry */
#initiativewindow .token:first-of-type {
    background-color: var(--gnome-trough-active-background) !important;
    border-radius: 8px 8px 0px 0px !important;
}

/* Last entry */
#initiativewindow .token:last-of-type {
    border-radius: 0px 0px 8px 8px !important;
}


/* Entry names */
#initiativewindow .token span.name {
    padding-left: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    font-weight: 400;
    font-family: "Rubik";
}

/* Entry icons */
#initiativewindow .token > img {
    margin-bottom: 2px !important;
    margin-left: 1px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50px;
    border-top: 1px;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-width: 2px;
    border-style: solid;
    background: var(--gnome-tabbar-tab-active-background-contrast);
}

/* Initiative counts */
span.initiative {
    font-size: 18px !important;
    margin-top: 2px !important;
    margin-right: 3px !important;
}

/* Initiative counts - hover */
span.initiative.editable:hover {
    background: transparent !important;
    color: var(--gnome-button-active-background) !important;
}

/* Input box for your initiative count */
#initiativewindow input {
    height: 15px !important;
    direction: rtl !important;
    font-family: "Inter" !important;
    font-weight: 600 !important;
    margin-right: -4px;
}

#initiativewindow input:hover {
    outline: none;
}

#initiativewindow input:focus {
    outline: none;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Zoom */
/* Move zoom container over to the left side of the screen */
#vm_zoom_buttons {
    top: 324px !important;
    left: 5px !important;
    transition: top ease 200ms;
}

/* Float the actual interactable bits to the left of their parent container */
.parentContainer {
    float: left !important;
}

/* When the main toolbar is collapsed, move the zoom toolbar up */
body:has(.master-toolbar-collapsed) #vm_zoom_buttons {
    top: 40px !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Character Nameplates */
.nameplate[data-v-fe91bfb6] {
    background-color: var(--gnome-tab-button-hover-background);
    font-size: 13px;
    font-family: Rubik, sans-serif;
    text-align: center;
    font-weight: 500;
    width: fit-content;
    color: var(--dark-primarytext);
    line-height: 20px;
    white-space: nowrap;
    border-radius: 5px;
    padding: 1px 8px;
}

/* Bar Numbers */
.bar-background {
    font-size: 15px !important;
}


.bar-background[data-v-101adf6e]::before {
    font-weight: 600;
    text-shadow: 0px 0px 2px #000;
    font-family: Inter;
    line-height: 14px;
}
}

@-moz-document url-prefix("https://app.roll20.net/editor") {
/* Tool Menu */
.dropdown-header-open[data-v-3b231786],
.dropdown-header[data-v-3b231786]:hover {
    background-color: color(srgb 0.470588 0.682353 0.929412 / 0.16) !important;
}
}

@-moz-document url-prefix("https://app.roll20.net/editorrrrrrrrrrrrrrrrrrrrrrrrrr") {
/* Old CSS - Poorly Written and Documented */
#rightsidebar .ui-tabs-nav li.ui-state-active a {
    border-radius: 7px;
    background-color: var(--gnome-button-flat-active-background);
    color: transparent;
    transition: all 0.2s;
}

#rightsidebar .ui-tabs-nav li.ui-state-active a:focus:not(:focus-visible) {
    outline: none
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    text-shadow: 0px 0px rgb(255, 255, 255);
}

#rightsidebar {
    width: 330px !important;
}

.ui-widget-content:not(#textchat) {
    border-radius: 0px;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
}

#rightsidebar ul.tabmenu li a {
    color: transparent;
}

.tabmenu {
    margin-top: 5px !important;
}

#textchat,
#imagedialog,
#journal,
#compendium,
#jukebox,
#deckstables,
#vm_settings_categories {
    margin-top: 0px !important;
    border-top-width: 1px !important;
    border-color: var(--gnome-tabbar-tab-active-background-contrast) !important;
}


#ui-id-1,
#ui-id-2,
#ui-id-3,
#ui-id-4,
#ui-id-5,
#ui-id-6,
#ui-id-7 {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-radius: 7px !important;
    scale: 0.8 !important;
    height: 33.533px;
    margin-top: -1px;
    padding-top: 2px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    margin-right: -4px !important;
    margin-left: -4px;
    transition: all 0.2s !important;
}

#ui-id-5 {
    margin-left: -3.5px !important;
}

#ui-id-6 {
    margin-left: -3.5px !important;
}

#ui-id-1:hover,
#ui-id-2:hover,
#ui-id-3:hover,
#ui-id-4:hover,
#ui-id-5:hover,
#ui-id-6:hover,
#ui-id-7:hover {
    background-color: var(--gnome-button-flat-hover-background)
}

#ui-id-6 {
    height: 32.533px !important;
    padding-top: 3px !important;
}

#ui-id-5 {
    height: 30.533px !important;
    padding-bottom: 3px !important;
}

.tabmenu {
    margin-top: 4px !important;
    background-color: var(--gnome-headerbar-background) !important;
    padding-right: 8px !important;
    padding-left: 17px !important;
    padding-bottom: 3px !important;
}

.tabmenu:hover {
    border-bottom-style: none !important;
    border-bottom-width: 0px !important;
}

/* Searchbar */
.add-clear-span > a:nth-child(2) {
    padding-top: 2.5px;
}

.add-clear-span > input:nth-child(1) {
    padding-left: 8px;
    padding-right: 23px;
    width: calc(100% - 31px) !important;
}

/* Text Entry Box Area */
#textchat-input {
    right: 0px !important;
    margin-right: 0px !important;
    color: var(--gnome-menu-border-color) !important;
    border-top-width: 1px !important;
    margin-bottom: 0px !important;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
    border-style: solid !important;
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-color: var(--gnome-tabbar-tab-active-background-contrast) !important;
    padding-left: 9px !important;
    width: 312px !important;
    padding-right: 9px !important;
}

#textchat-input textarea {
    background-color: var(--gnome-entry-background);
    border-style: hidden;
}

div#textchat-input div select#speakingas.selectize {
    background: var(--gnome-entry-background);
    border: 0px solid var(--gnome-tabbar-tab-active-background-contrast);
    border-radius: 12px;
    width: 223px;
}

#textchat-input button {
    width: auto;
    border-radius: 12px;
}

#textchat-input > div:nth-child(5) > label:nth-child(1) {
    margin-top: 6px !important;
}

#textchat-input > div:nth-child(5) {
    width: 317px !important;
}

#chatSendBtn {
    height: 16px !important;
    margin-top: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 7px !important;
    margin-left: 5px !important;
}

div#textchat-input textarea.ui-autocomplete-input:focus,
select#speakingas.selectize:focus {
    outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
}

input:hover,
textarea:hover,
select:hover {
    border-color: var(--gnome-accent);
}

button.el-button:nth-child(1) {
    margin-bottom: 12px !important;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0px solid;
    border-color: var(--gnome-accent-bg) !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--gnome-accent)
}

button.btn:nth-child(6) {
    height: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#speakingas {
    margin-bottom: 3px;
    margin-right: 4px;
    width: 220px;
}

#textchat-input > div:nth-child(5) {
    width: 262.367px;
}

/* Roll20 Greeting Chat Message */
.userscript-commandintro > img:nth-child(1) {
    filter: brightness(130%) hue-rotate(290deg);
}

.userscript-commandintro > ul:nth-child(4) > li:nth-child(2) {
    padding-bottom: 20px;
    margin-bottom: 0px;
}


[class="message system"] {
    left: -12px;
    width: 260px;
    padding-left: 60px;
}

.textchatcontainer .message.system:nth-of-type(n+2) {
    margin-top: 20px !important;
    margin-bottom: -20px !important;
    width: 269px !important;
}

/* Jukebox and Search Info*/
#jukeboxwhatsplaying,
div#searchinfo {
    border: 1px solid var(--gnome-button-active-background) !important;
    border-radius: 8px !important;
}

#jukebox hr {
    border-top-color: var(--gnome-tabbar-tab-active-background-contrast);
}

#jukeboxwhatsplaying {
    padding-top: 6px;
    padding-left: 6px;
    padding-bottom: 3px;
}

/* Exit Game Button */
html.dark .el-button {
    --el-button-disabled-text-color: rgba(255, 255, 255, 0.5) !important;
    --el-button-hover-text-color: #E6E6E6 !important;
    --el-button-border-color: var(--gnome-accent-bg) !important;
    --el-button-hover-bg-color: var(--gnome-focused-urlbar-border-color) !important;
    --el-button-active-bg-color: var(--gnome-accent) !important;
    --el-button-hover-border-color: var(--gnome-accent-bg) !important;
}

/* Start of Chat */
div.chatlogmessage {
    padding-top: 7px;
    width: 265px;
    padding-bottom: 10px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

[id="openchatarchive"] {
    padding-left: 0px;
    margin-left: -4px;
}

[class="spacer"]:first-of-type {
    margin-top: 0px !important
}

/* Check Marks */
.el-checkbox__inner {
    display: inline-block;
    position: relative;
    border: var(--el-checkbox-input-border);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: var(--el-index-normal);
    transition: border-color .25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color .25s cubic-bezier(0.71, -0.46, 0.29, 1.46), outline .25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    border-color: var(--gnome-accent)
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: var(--gnome-accent-bg);
    border-color: var(--gnome-accent);
}

.dark .el-checkbox__input.is-checked + .el-checkbox__label {
    color: var(--gnome-accent);
}

#rightsidebar .paddedtable h3 {
    padding-top: 8px;
}

#advancedSearch {
    margin-top: -49px;
    margin-right: 4px;
}

#rightsidebar .paddedtable button:not(:last-child) {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-right: -1px;
}

#jukebox.paddedtable.ui-tabs-panel.ui-widget-content.ui-corner-bottom div.instructions p {
    margin-top: -24px;
}

#deckstables.paddedtable.ui-tabs-panel.ui-widget-content.ui-corner-bottom p {
    margin-top: -24px;
}

#deckstables.paddedtable.ui-tabs-panel.ui-widget-content.ui-corner-bottom label {
    margin-left: 8px;
}

#deckstables.paddedtable.ui-tabs-panel.ui-widget-content.ui-corner-bottom hr {
    border-top-color: var(--gnome-tabbar-tab-active-background-contrast);
}

.table > thead > tr > th {
    border-bottom-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-bottom-width: 1px;
}

#existingmacros > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(1) {
    border-bottom-width: 1px;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
}

/* Art Library */
#imagedialog > div:nth-child(1) {
    width: 94%;
}

#imagedialog > div:nth-child(1) > p:nth-child(2) {
    margin-top: 3px;
}


.searchinfotoggle {
    display: unset !important;
    margin-left: -28px !important;
}

.searchinfotoggle:active {
    color: var(--gnome-inactive-toolbar-icon-fill);
}

#imagedialog > div:nth-child(1) > input:nth-child(4) {
    width: calc(100% - 36px) !important;
    padding-right: 30px !important;
}

#searchinfo pre {
    padding: 4.5px !important;
    color: var(--dark-primarytext) !important;
    background-color: var(--gnome-entry-background) !important;
    border: 0px solid;
    border-radius: var(--el-border-radius-base) !important;
}

#searchinfo > span:nth-child(n) > pre:nth-child(n) {
    margin-top: 6px !important;
    width: calc(100% - 14px) !important;
    padding-left: 9.5px !important;
}

#searchinfo {
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 9px !important;
}

#searchinfo > span:nth-child(4) > pre:nth-child(1) {
    margin-bottom: 6px !important;
}

#imagedialog .tabcontainer a:hover {
    color: var(--gnome-inactive-toolbar-icon-fill);
}

#rightsidebar .paddedtable button:not(:last-child) {
    display: block;
    margin-top: 6px;
}

#imagedialog .tabcontainer a:hover {
    /* color: #c6abd3; */
    color: var(--gnome-inactive-toolbar-icon-fill);
}


#marketplacelibrary > ol:nth-child(1) > li:nth-child(3) > button:nth-child(2) {
    margin-top: 6px;
}

div.tabcontainer:nth-child(7) {
    margin-left: 19px;
    margin-top: -8px;
}

.showuploaddialog {
    /* margin-right: 15px; */
    margin-right: 5px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: -2px !important;
}

.addlibraryfolder {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 6px !important;
    padding-left: 6px !important;
    margin-top: -2px !important;
    margin-right: 7px !important;
}

.no-touch .dd-content:hover {
    color: var(--gnome-accent);
}

#userlibrary > div:nth-child(5) {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -21px;
}

div.tabcontainer:nth-child(3) {
    margin-top: 4px;
}

/* Popup Selection Boxes */
div.el-popper:nth-child(2) {
    border-radius: var(--el-border-radius-base);
}


/* Dice Roller Window */
.dicetype {
    width: 75px;
    position: relative;
    top: 0px;
    margin-right: 5px;
}

.numdice {
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;
}

.targettype {
    width: 40px;
    position: relative;
    top: 0px;
    margin-left: 5px;
}

.recentupload {
    padding-left: 0px;
    margin-left: 6px;
    margin-right: 6px;
}


/* Tab in Sidebar */
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    margin-bottom: 1px;
    background-color: var(--gnome-button-background) !important;
}

.nav-tabs > li:not(.active) > a:hover,
.nav-tabs > li:not(.active) > a:focus {
    background-color: var(--gnome-button-hover-background) !important;
    color: var(--dark-primarytext);
}

.nav-tabs {
    border-bottom-color: var(--gnome-tabbar-tab-active-background-contrast);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: var(--dark-primarytext);
    border-color: transparent !important;
}

#settingsVideoTab > a:nth-child(1),
.nav > li:nth-child(1) > a:nth-child(1) {
    border-radius: 8px 8px 0px 0px !important;
}

/* Slider */
.el-slider__bar {
    background-color: var(--gnome-accent-bg);
}

.el-popper.is-dark {
    color: var(--dark-primarytext);
    border: 1px solid var(--gnome-accent);
    background: var(--gnome-accent);
}


/* Dropdown */
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: var(--gnome-tabbar-tab-active-background-contrast);
    margin-left: -1px;
    margin-right: -1px;
    border-top: 1px solid var(--gnome-tabbar-tab-active-background-contrast);
}

#collapseAudioAndVideo > .panel-body[data-v-e55e2da6] {
    padding-left: 6px;
    padding-right: 6px;
}

/* Macros */
div.macrobox:nth-child(n) > button:nth-child(n) {
    background: var(--gnome-button-background) !important;
    color: #E6E6E6 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0) !important;
    border: 1px solid transparent !important;
    border-radius: 7px;
    font-weight: 600;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

div.macrobox:nth-child(n) > button:nth-child(n):hover {
    background: var(--gnome-button-hover-background) !important;
}

div.macrobox:nth-child(n) {
    background-color: transparent !important;
    margin-right: 9px !important;
}

div.macrobox:nth-child(n):hover {
    background-color: transparent !important;
    margin-right: 9px !important;
}

#macrobar_macros {
    background-color: var(--gnome-toolbar-background);
    width: calc(100% - 20px);
    margin-left: -2px;
    padding-left: 17px;
    border-radius: 0px 12px 0px 0px;
    padding-top: 6px;
    padding-right: 1px;
    padding-bottom: 6px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
}

#macrobar {
    margin-bottom: -9px;
    margin-left: -8px;
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: auto;
}

#macrobar div.macrobox:hover,
#macrobar div.macrobox.ui-sortable-helper {
    padding-right: 0px;
}

/* Player Names */
div.playername:nth-child(n) {
    border-radius: 5px;
    border-color: var(--gnome-menu-background);
}

div.color_picker:nth-child(n),
div.playercolor {
    border-radius: 5px !important;
    width: 14px !important;
    height: 14px !important;
    margin-top: 5px !important;
    margin-right: 5px !important;
}

.player .playername {
    background-color: var(--gnome-tab-button-hover-background);
    font-size: 15px;
    font-family: rubik;
    text-align: left;
    padding-left: 9px;
    width: 141px;
    margin-bottom: 1px !important;
}

#avatarContainer {
    margin-bottom: -20px;
    margin-left: 1px;
}

/* Video Popups */
.player .video {
    border-radius: 5px;
}

.video {
    margin-bottom: 3px;
}


/* Chat */
.textchatcontainer .avatar img {
    width: 28px !important;
    height: 28px !important;
    border-radius: 23px;
    margin-top: 14px;
    margin-left: -5px;
    border-top: 1px;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-width: 2px;
    border-style: solid;
    background: var(--gnome-tabbar-tab-active-background-contrast);
}

[class="spacer"] {
    width: 1101px !important;
    height: 0.89116666666666666px !important;
    background-color: var(--gnome-tabbar-tab-active-background-contrast) !important;
    margin-left: -57px !important;
    margin-bottom: 24px !important;
    margin-top: 20px;
    line-height: 1 !important;
}

div.rollresult:nth-child(1) {
    margin-top: 0px !important;
}


/* The Smart way to do it*/
.textchatcontainer .message.private:nth-of-type(n+1),
div.message.rollresult:nth-child(n+1) {
    padding-left: 49.5px;
    margin-top: 20px;
    margin-bottom: -19.5px;
    padding-bottom: 21px;
}

div.message.general:nth-child(n+1) {
    padding-left: 57px;
    margin-top: 20px;
    margin-bottom: -19.5px;
    padding-bottom: 21px;
}


div.message.private.whisper div.avatar img,
div.message.rollresult div.avatar img,
div.message.general div.avatar img {
    margin-left: 7px;
}

.textchatcontainer .rollresult.quantumRoll {
    background: none;
}
/* End */
[class="by"] {
    visibility: hidden;
    font-size: 0.000000000000000000000000000000000001em !important;
}

/* Hidden Rolls */
.textchatcontainer .inlinerollresult {
    border-radius: 7px;
}

/* Dice Roller */
.sheet-darkmode.textchatcontainer .formula,
.sheet-darkmode.textchatcontainer .rolled {
    border-color: transparent !important;
    border-radius: 7px !important;
    box-decoration-break: clone !important;
    background-color: var(--gnome-entry-background) !important;
}

div.formula.formattedformula {
    padding-top: 4px !important;
    padding-bottom: 2px !important;
    margin-right: 5px !important;
}

div.didroll {
    padding-top: 6px !important;
}

div.dicegrouping.ui-sortable {
    line-height: normal !important;
}

div.rolled.ui-draggable {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

div.message.rollresult > strong {
    margin-bottom: 6px;
    padding-bottom: 9px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    width: 4px;
    height: 20px;
    display: inherit;
    margin-left: 56px;
    margin-top: -79px;
    color: transparent;
}

div.message:nth-child(n) {
    padding-left: 57px;
}

/* Zoom */
.zoomplus {
    height: 5px !important;
    width: 5px !important;
    padding: 18px !important;
    padding-top: 23px !important;
    scale: 0.6 !important;
    top: 9.5px !important;
    border-radius: 7px !important;
}

button.btn:nth-child(4) {
    height: 5px !important;
    width: 5px !important;
    padding: 18px !important;
    padding-top: 24px !important;
    scale: 0.6 !important;
    bottom: 9px !important;
    border-radius: 7px !important;
}

.zoomplus::after,
.zoomplus::before,
.zoomminus::after,
.zoomminus::before {
    background-color: var(--dark-primarytext) !important;
}

.ui-slider-handle {
    bottom: 0% !important;
    display: none !important;
}

#zoomclick {
    left: auto !important;
    right: auto !important;
    box-sizing: content-box;
    scale: 0.84 !important;
    top: 196px !important;
    margin-left: 16px;
    height: 0px !important;
    z-index: 999999 !important;
}

#zoomPercent {
    display: none !important;
}

#zoomslider {
    padding-left: 0px !important;
    left: 0px !important;
    padding-right: 0px !important;
    width: 6px !important;
    height: 0px !important;
    margin-bottom: 10px !important;
}

/* Loading Screen Background */
#loading-overlay {
    background-color: var(--gnome-inactive-tabbar-tab-background);
}

/* Toolbar */
#floatingtoolbar {
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    height: 102.067px;
    padding-bottom: 188px !important;
    background: var(--gnome-toolbar-background);
    border: 1px solid var(--gnome-tabbar-tab-active-background-contrast);
    border-radius: 12px;
    box-shadow: var(--gnome-menu-shadow) !important;
}

#floatingtoolbar > ul:nth-child(1) {
    height: 180.067px;
}

#floatingtoolbar div.submenu > ul {
    box-shadow: var(--gnome-menu-shadow);
    padding-top: 6px
}

#floatingtoolbar li {
    color: var(--dark-secondarytext);
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    height: 20px !important;
}

div.submenu:nth-child(n) {
    left: 22px !important;
}

#floatingtoolbar li:hover {
    background: var(--gnome-focused-urlbar-border-color);
}

#floatingtoolbar ul li#select.select:nth-of-type(1) {
    margin-top: 3px;
    height: 17.5px !important;
}

/**/
#floatingtoolbar li:nth-of-type(1),
#floatingtoolbar li:nth-of-type(3),
#floatingtoolbar li:nth-of-type(6) {
    text-align: unset;
}

#select > span:nth-child(1) {
    margin-left: 8px;
}

[tip="Select/Move"] {
    line-height: 15px !important;
    font-size: 20px !important;
}

.currentselection {
    margin-top: 3px !important;
    position: relative !important;
}

#floatingtoolbar li:nth-of-type(2) {
    font-size: 20px;
}

[class="activebutton path"],
[class="path activebutton"],
[class="path"],
[class="text activebutton"],
[class="activebutton text"],
[class="text"] [class="polygon activebutton"],
[class="polygon"],
[class="activebutton polygon"],
[class="activebutton rect"],
[class="rect activebutton"],
[class="rect"] {
    line-height: 15px !important;
}

li#drawingtools.activebutton,
li#drawingtools {
    line-height: 17px !important;
    padding-left: 0px !important;
    font-size: 19px !important;
}

li#drawingtools span.pictostwo.currentselection span.pictostwo.subicon.fas.fa-circle {
    scale: 0.76 !important;
    margin-left: 2px;
}

li#drawingtools span.pictostwo.currentselection span.pictostwo.subicon {
    margin-left: 3px;
}

li#measure svg.measure-icon.snap-corner {
    margin-left: -1px;
    margin-top: -4px;
    scale: 0.85
}

li#measure svg.measure-icon.snap-none {
    margin-top: -5px;
}

li#zoompanel span {
    margin-left: 1px;
}

#floatingtoolbar li:nth-of-type(3) {
    line-height: 18px;
    font-size: 20px;
}

#ruler-flat-icon > path:nth-child(1) {
    box-sizing: border-box !important;
}

svg.measure-icon:nth-child(1) {
    margin-bottom: 5px !important;
    margin-left: -1px;
}

#diceroller > span:nth-child(1) {
    font-weight: bold;
    font-size: 22px;
    margin-left: -0.5px !important;
}

#helpsite > span:nth-child(1) {
    box-sizing: revert;
    position: absolute;
    margin-left: -0.5px;
    font-size: 21px;
}

/* Toolbar Popouts */
.selZoom > li:nth-child(n) {
    line-height: 19px !important;
    padding-bottom: 0px !important;
}

#floatingtoolbar li.quickdice {
    line-height: 17px;
}

#floatingtoolbar li.quickdice:hover .quickdice-label {
    background-color: var(--gnome-accent);
    border-radius: 3px;
    line-height: 22px !important;
}

#floatingtoolbar li.quickdice .quickdice-button:hover,
#floatingtoolbar li.quickdice .quickdice-toggle[data-toggle="true"]:nth-of-type(n+6) {
    background-color: var(--gnome-accent);
    border-radius: 3px;
    line-height: 22px !important;
}

#floatingtoolbar li.quickdice .quickdice-label {
    line-height: 22px !important;
}

#floatingtoolbar li.quickdice .quickdice-button,
#floatingtoolbar li.quickdice .quickdice-toggle[data-toggle="true"]:nth-of-type(n+6) {
    line-height: 22px !important;
}

#floatingtoolbar li.quickdice .quickdice-button:active,
#floatingtoolbar li.quickdice .quickdice-toggle[data-toggle="true"]:nth-child(1) {
    background-color: var(--gnome-accent);
    border-radius: 21px 0px 0px 13px;
}

#floatingtoolbar li.quickdice .quickdice-button:hover,
#floatingtoolbar li.quickdice .quickdice-toggle[data-toggle="true"] {
    background-color: var(--gnome-accent);
}

#floatingtoolbar li.quickdice .quickdice-button:active,
#floatingtoolbar li.quickdice .quickdice-toggle[data-toggle="true"]:nth-of-type(5) {
    background-color: var(--gnome-accent);
    border-radius: 0px 21px 13px 0px;
}

/* Measure Popout */
#measure li.activerulermode,
#fogcontrols li.activefogtoolshape,
#fogcontrols li.activefogtool,
#fogcontrols li.activefogtoolmode {
    background-color: var(--gnome-accent);
    color: #333;
}

#measure li.activerulermode:hover,
#fogcontrols li.activefogtoolshape,
#fogcontrols li.activefogtool,
#fogcontrols li.activefogtoolmode {
    background-color: var(--gnome-accent);
    color: #333;
}

div.submenu:nth-child(4) > ul:nth-child(1) {
    margin-bottom: 3px !important;
}

.choosepolygon {
    margin-left: 3px;
    padding-left: 6px;
}

.targettype {
    top: 4px;
}

.dicetype {
    top: 0px;
}

/* Zoom Popout */
#zoompanel ul li.zoomClickBack {
    background-color: var(--gnome-accent);
    color: black;
    border: 0px;
}

#floatingtoolbar div.submenu ul.selZoom {
    line-height: 12px !important;
    background: var(--dark-background) !important;
    font-size: 13px !important;
    text-align: left !important;
    margin: 0px !important;
    padding-top: 1px;
    padding-bottom: 1px;
}





/* UI Dialogues */
.ui-dialog {
    border-radius: 12px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    box-shadow: var(--gnome-menu-shadow) !important;
}


/* Toolbar Extra Toolbar */
div#secondary-toolbar ul.mode.path.rect.polygon.ellipse li div.color_picker {
    margin-right: 2px !important;
    margin-left: 5px;
    margin-top: 7px !important;
}

ul.mode:nth-child(2) > li:nth-child(2) > div:nth-child(2) {
    margin-left: 2px !important;
}

#secondary-toolbar {
    border: 1px solid var(--gnome-tabbar-tab-active-background-contrast);
    background-color: var(--gnome-toolbar-background) !important;
    border-radius: 12px;
}

#secondary-toolbar li {
    border-right: 1px solid var(--gnome-tabbar-tab-active-background-contrast);
}

#secondary-toolbar li:nth-of-type(3) {
    border-right: 0px solid var(--gnome-tabbar-tab-active-background-contrast);
}

ul.mode.path.rect.polygon.ellipse li select#path_width:focus {
    outline: 0px solid var(--gnome-focused-urlbar-border-color) !important;
}


/* Color Picker */
div#color_selector {
    background-color: var(--dark-surface2);
    border-color: var(--gnome-tabbar-tab-active-background-contrast);
    border-radius: 12px;
}

div.color_swatch {
    border-radius: 5px;
}

div#color_custom label {
    color: var(--dark-primarytext);
    margin-bottom: -4px;
    margin-left: 4px;
    margin-top: 4px;
}

div#color_custom:hover {
    border-color: transparent !important;
    background-color: var(--gnome-entry-bg) !important;
}

div#color_custom input {
    margin: 5px 2px;
    font-size: 95%;
    border: 0px solid #000;
    width: 104px;
    padding-left: 3px;
    margin-bottom: 1px;
    background: var(--gnome-entry-background);
}

/* Character Nameplates */
.nameplate[data-v-fe91bfb6] {
    background-color: var(--gnome-tab-button-hover-background);
    font-size: 14px;
    font-family: Rubik, sans-serif;
    text-align: center;
    font-weight: 500;
    width: fit-content;
    color: var(--dark-primarytext);
    line-height: 20px;
    white-space: nowrap;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.bar-background[data-v-2152d104] {
    font-size: 15px;
}

/* Who is Typing */
#whoistyping {
    padding-top: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    padding-bottom: 5px !important;
}

/* Chat Timestamps */
.textchatcontainer .message .tstamp {
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: -4px;
    padding-bottom: 4px;
    padding-top: 1.5px;
}

/* Initative */
li.token:nth-child(n) {
    border-bottom-width: 0px !important;
    margin-bottom: 2px !important;
    margin-top: 0px !important;
    border-radius: 6px !important;
    padding-bottom: 3px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: clamp(136px, calc(100% - 10px), 450px);
}

#initiativewindow ul li:first-child {
    background-color: var(--gnome-button-background);
    width: clamp(136px, calc(100% - 10px), 450px);
}

/* editorDarkMode.css | https://app.roll20.net/assets/editorDarkMode.css */
#initiativewindow ul li:first-child {
    /* background-color: var(--dark-green-d60); */
    background-color: var(--gnome-button-background);
}

#initiativewindow ul li {
    /* background-color: var(--dark-gray-disabled); */
    background-color: var(--gnome-headerbar-background);
}

/* Element | https://app.roll20.net/editor/ */
.ui-dialog-titlebar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/* Element | https://app.roll20.net/editor/ */
li.token:nth-child(n) > span:nth-child(3) {
    padding-left: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}

/* Element | https://app.roll20.net/editor/ */
li.token:nth-child(n) > img:nth-child(n) {
    padding-top: 1px !important;
}

#initiativewindow {
    scrollbar-width: none;
}
}
